

.bigbox {
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url(snapbackground.jpeg);
    min-height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 15px;
}

.bigbox h1 {
    font-family: Garamond, serif;
    font-size: 50px;
    color: white;
    margin-bottom: 0px;

}

.bigbox h2 {
    font-family: Garamond, serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;

}

.bigbox p {
    font-family: Garamond, serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;

}

.nextbox {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.nextbox img {
    max-width: 100%; /* Ensures the image doesn't exceed its container */
    height: auto; /* Maintains the aspect ratio */
    max-height: 700px; /* Limits the height, adjust as needed */
}

@media (min-width: 601px) {
    .bigbox {
        
        min-width: 1000px;
        min-height: 1500px;
        background-size: contain;
        background-repeat: no-repeat;
    }    

    .mainbutton {
        display: none;
    }
}

@media (max-width: 600px) {
    .bigbox {
        
        min-width: auto;
        background-repeat: no-repeat;
    }

    .mainbutton {
    
    width: 50px; 
    height: 50px;
    background-image: url('button.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    outline: none; 
    background-color: transparent; 
    padding: 0; 
    cursor: pointer; 
    }

  
}