a {
    text-decoration: none; /* Removes the underline */
  }

.bigbox {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-start; /* Align items to the top vertically */
    align-items: center; /* Optionally align items horizontally to the center */
    background-image: url(images/snapbackground.jpeg);
    min-height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 15px;
}

.bigbox h1 {
    font-family: Garamond, serif;
    font-size: 50px;
    color: white;
    margin-bottom: 0px;

}

.bigbox h2 {
    font-family: Garamond, serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;

}

.bigbox h3 {
    font-family: Garamond, serif;
    font-size: 35px;
    color: rgb(27, 24, 65);
    margin-bottom: 0px;

}

.bigbox p {
    font-family: Garamond, serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;

}

.nextbox {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.nextbox img {
    max-width: 100%; /* Ensures the image doesn't exceed its container */
    height: auto; /* Maintains the aspect ratio */
    max-height: 700px; /* Limits the height, adjust as needed */
}

@media (min-width: 601px) {
    .bigbox {
        
        min-width: 1000px;
        min-height: 1500px;
        background-size: contain;
        background-repeat: no-repeat;
    }    

    .mainbutton {
        display: none;
    }

    .empti {margin-bottom: 50px;}
}

@media (min-width: 501px) and (max-width: 600px) {
    .empti {margin-bottom: 30px;}
}

@media (max-width: 500px) {
    .bigbox {
        
       
        background-repeat: no-repeat;
    }

    .mainbutton {
    
    width: 50px; 
    height: 50px;
    background-image: url('button.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    outline: none; 
    background-color: transparent; 
    padding: 0; 
    cursor: pointer; 
    }

    .empti {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}





.botproj, .botover, .botcont, .botetc {
    cursor: pointer;
    font-family: sans-serif; letter-spacing: 2px;
  }

  .botproj:hover, .botover:hover, .botcont:hover, .botetc:hover {
    background-color: #000000;
  }

  .ddbox {
    display: none; /* Initially hidden */
    position: relative; /* Keeps it within the normal flow */
    align-self: flex-start; /* Aligns the box to the left */
    text-align: left; /* Ensures content within the box aligns left */
    padding: 20px;
    max-width: 1000px;
    margin-top: 20px;
}